# General
.notes/
.notes.md
.token
.config
*.log
*.test/
*.dev/
*.plan
*packer_cache/

# Environments
.env
*.env
*.env.ps1
*.psd1
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
env-*.sh

# Terraform directories, CLI config and state files.
**/.terraform/*
.terraform
.terraformrc
terraform.rc
tfplan.*
*.tfplan
*.plan
*.tfstate
*.tfstate.*
*.lock.*
crash.log
crash.*.log
backend.conf
backend.tf
bootstrap.tfvars

# Ignore override files as they are usually used to override resources locally.
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OVERRIDE: Allowed
# Allow example or default TFVARS file.
!example.tfvars
!terraform.tfvars
!*-example.psd1
