# !! DO NOT COMMIT !! - If using public repository or including sensitive values. 
naming = {
  stack_name = "Bootstrap" # Full stack name. Used with tag assignment and naming. 
  stack_code = "iac"       # Short code used for resource naming. 
}
tags = {
  Deployment = "Bootstrap" # Deployment specific tags (merged with global tags). 
}
deployment_stacks = { # Map of objects representing the deployment stacks to provision. 
  bootstrap = {
    category        = "bootstrap"             # Determines Resource Group and Storage Account names for backend resources. 
    stack_name      = "iac-bootstrap"         # Name of the stack, determines GitHub environment name. 
    subscription_id = "{subscription_id_iac}" # Subscription where stack resources will be deployed (GitHub environment variable). 
    create_repo_env = false                   # Boolean value, determines if a repository environment is created for the stack. 
  }
  connectivity = {
    category        = "platform"
    stack_name      = "plz-connectivity"
    subscription_id = "{subscription_id_con}"
    create_repo_env = true
  }
  governance = {
    category        = "platform"
    stack_name      = "plz-governance"
    subscription_id = "{subscription_id_gov}"
    create_repo_env = true
  }
  management = {
    category        = "platform"
    stack_name      = "plz-management"
    subscription_id = "{subscription_id_mgt}"
    create_repo_env = true
  }
  identity = {
    category        = "platform"
    stack_name      = "plz-identity"
    subscription_id = "{subscription_id_idn}"
    create_repo_env = true
  }
}
